<mat-toolbar style="height: 8%; background-color: rgb(0, 30, 60);">
    <span>
        <button mat-button routerLink="home" routerLinkActive="green-txt">
            Home
        </button>
    </span>
    <span>
        <button mat-button routerLink="editor" routerLinkActive="green-txt">
            Workspace
        </button>
    </span>
    <span *ngIf="router.url==='/editor'">
        <small *ngIf='worker.workspace_isScratch' style="border: 2px solid gray; border-radius: 6px; margin-left: 100px; padding: 2%;">
            {{worker.openFile_name}}
        </small>
        <small *ngIf='!worker.workspace_isScratch' style="border: 2px solid gray; border-radius: 6px; margin-left: 100px; padding: 2%;">
            {{worker.workspace_name}} :: {{worker.openFile_path}}/{{worker.openFile_name}}
        </small>
    </span>
    <span class="example-spacer"></span>
    <span>
        <button mat-button style="color: red;">Logout</button>
    </span>
</mat-toolbar>
