<mat-toolbar *ngIf="!check()" style="height: 8%; background-color: rgb(0, 30, 60);">
    <span>
        <button mat-button routerLink="home" routerLinkActive="green-txt">
            Home
        </button>
    </span>
    <span>
        <button mat-button routerLink="editor" routerLinkActive="green-txt">
            Workspace
        </button>
    </span>
    <span *ngIf="check1('/editor')">
        <small *ngIf='worker.workspace_isScratch' style="border: 2px solid gray; border-radius: 6px; margin-left: 100px; padding: 2%;">
            {{username}}/scratchFiles : : {{worker.openFile_name}}
        </small>
        <small *ngIf='!worker.workspace_isScratch' style="border: 2px solid gray; border-radius: 6px; margin-left: 100px; padding: 2%;">
            {{username}}/{{worker.workspace_name}} : : {{worker.openFile_path}}/{{worker.openFile_name}}
        </small>
    </span>
    <span class="example-spacer"></span>
    <span *ngIf="check1('/home')">
        <small style="border: 2px chartreuse solid ; border-radius: 6px; margin-right: 100px; padding: 2%;cursor: pointer;" (click)="change()">
            Hello {{username}},&nbsp;&nbsp;👋
        </small>
    </span>
    <span>
        <button mat-button style="color: red;" (click)="logout()">Logout</button>
    </span>
</mat-toolbar>
<mat-toolbar *ngIf="check()" style="height: 8%; background-color: rgb(0, 30, 60);">
    <span>
        <button mat-button routerLink="login" routerLinkActive="green-txt">
            Login/Signup
        </button>
    </span>
    <span>
        <button mat-button routerLink="editor" routerLinkActive="green-txt">
            Workspace
        </button>
    </span>
</mat-toolbar>
