<div class="big-container">
    <form [formGroup]="feedbackForm">
        <mat-form-field appearance="outline" [floatLabel]="'UserName'">
            <mat-label>Username *</mat-label>
            <input matInput formControlName="username">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" [floatLabel]="'Password'">
            <mat-label>Password *</mat-label>
            <input matInput formControlName="password">
        </mat-form-field>
        <br>
        <button mat-button class="bigger-bordered" (click)="onSubmit()">
            Login 
        </button>
    </form>
</div>
<div class="container">
    <div (click)="signup()" class="text1">
        New User?
    </div>
    or
    <div (click)="guestlogin()" class="text3">
        Continue As Guest
    </div>
</div>