<!-- <ng-template #content let-modal> 
    <div class="modal-header"> 
        <h4 class="modal-title" 
            id="modal-basic-title"> 
            choose a file
        </h4> 
        <button type="button" class="close"
                aria-label="Close" (click)= 
                "modal.dismiss('Cross click')"> 
  
            <span aria-hidden="true"> 
                × 
            </span> 
        </button> 
    </div>
    <div class="modal-body">
        <div *ngFor="let file of files">
            <button type="button" class="files" (click)="s(file.code)">
                {{file.name}}
            </button>
        </div>
    </div> 
    <div class="modal-footer"> 
        <button type="button" 
            class="btn btn-outline-dark" 
            (click)="modal.close('open')"> 
            Open
        </button> 
    </div> 
</ng-template>-->
<div style="height: 5%;">
    <h2>
        {{file_selected}}
    </h2>
</div>
<div class="float-container">
    <div style="height: max-content;width: 10%;border-style: groove;border-color: darkgray;">
        <div class="header">
            Files<button class="add" (click)="add()">+</button>
        </div>
        <div *ngFor="let file of files" >
            <button type="button" class="files" (click)="s(file.code,file.name)">
                {{file.name}}
            </button>
            <button type="button" class="files1" (click)="del(file.name)">
                del
            </button>
        </div>
        <div *ngIf="is_add">
            <input [(ngModel)]="new_file" style="width: 60%;" placeholder="name" id="name"/>
            <button type="button" style="float: right; width: 35%" (click)="fin_add()">{{create}}</button>
        </div>
        <button mat-button class="bigger-bordered1" style="margin-left: 20%;margin-top: 35%;" (click)="save()">
            Save
        </button>
    </div>
    <div *ngIf="selected=='cpp'" style="height: 100%;width: 49.5%;margin-left: 0.5%;">
        <ngx-monaco-editor style="height: 100%;" [options]="editorOptions1" [(ngModel)]="code"></ngx-monaco-editor>
    </div>
    <div *ngIf="selected=='py'" style="height: 100%;width: 49%;margin-left: 1%;">
        <ngx-monaco-editor style="height: 100%;" [options]="editorOptions2" [(ngModel)]="code"></ngx-monaco-editor>
    </div>
    <div *ngIf="selected=='js'" style="height: 100%;width: 49%;margin-left: 1%;">
        <ngx-monaco-editor style="height: 100%;" [options]="editorOptions3" [(ngModel)]="code"></ngx-monaco-editor>
    </div>
    <div style="height: 100%;width: 30%;margin-left: 5%;">
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Stdin</mat-label>
            <textarea matInput rows=10 [(ngModel)]="stdin"></textarea>
        </mat-form-field>
        <div>
            <div style="width: 100%;" *ngIf="out">
                <h2>Output</h2>
                {{out.stdout}}
                {{out.stderr}}
                {{out.error}}
            </div>
        </div>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Language</mat-label>
            <mat-select [(value)]="selected">
                <mat-option value="py">Python</mat-option>
                <mat-option value="cpp">C++</mat-option>
                <mat-option value="js">Javascript</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button class="bigger-bordered" [disabled]="!getResult()" style="margin-left: 25%;" (click)="submit()">
            Run
        </button>
        <!-- <button [disabled]="!getResult()" style="margin-left: 50%;" (click)="submit()">Compile</button> -->
    </div>
</div>