.float-container {
  display: flex;
  height: 95%;
}

.float-child {
  flex: 1;
  height: 100%;
}

.float-container:first-child {
  height: 100%;
  width: 100%;
}

.mat-button{
  margin: 0 12px;
}

.bigger-bordered {
  font-size: 120%;
  background-color: lawngreen;
  flex: 1 1 auto;
}