<div style="height: 5%;">
    <h2>Code Editor | header comes here</h2>
</div>
<div class="float-container">
    <div class="float-child">
        <ngx-monaco-editor style="height: 100%;" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
    </div>
    <div class="float-child">
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Stdin</mat-label>
            <textarea matInput rows=10 [(ngModel)]="stdin"></textarea>
        </mat-form-field>
        <div>
            <div style="width: 100%;" *ngIf="out">
                <h2>Output</h2>
                {{out.stdout}}
                {{out.stderr}}
                {{out.error}}
            </div>
        </div>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Language</mat-label>
            <mat-select [(value)]="selected">
                <mat-option value="py">Python</mat-option>
                <mat-option value="cpp">C++</mat-option>
                <mat-option value="js">Javascript</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button class="bigger-bordered" [disabled]="!getResult()" style="margin-left: 50%;" (click)="submit()">
            Run
        </button>
        <!-- <button [disabled]="!getResult()" style="margin-left: 50%;" (click)="submit()">Compile</button> -->
    </div>
</div>