<h1>Code Editor</h1>
<tr>
  <td width="60%">
    <a style="margin-left: 5%;">Editor</a>
    <Textarea id="code" class="t1" placeholder=""></Textarea>
  </td>
  <td valign="top" align="right" width="30%">
    Input
    <Textarea id="input" class="t2" placeholder=""></Textarea>
  </td>
</tr>
<div class="right" *ngIf="out">
  <h2>Output</h2>
  {{out.stdout}}
  {{out.stderr}}
  {{out.error}}
</div>
<br>
<div style="margin-left: 20%;margin-top: 1%;">
  <mat-form-field appearance="fill">
    <mat-label>Select language</mat-label>
    <mat-select [(value)]="selected">
      <mat-option value="py">Python</mat-option>
      <mat-option value="cpp">C++</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<button [disabled]="!getResult()" style="margin-left: 50%;" (click)="submit()">Compile</button>