<div class="big-container">
    <form [formGroup]="feedbackForm">
        <mat-form-field appearance="outline" [floatLabel]="'Name'">
            <mat-label>Name *</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" [floatLabel]="'Email'">
            <mat-label>Email *</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <br>
        <div>
            <label>Feedback * :</label>
            <mat-radio-group formControlName="feedback">
                <mat-radio-button value="Great">Great</mat-radio-button>
                <mat-radio-button value="Okay">Okay</mat-radio-button>
                <mat-radio-button value="Not good">Not good</mat-radio-button>
            </mat-radio-group>
        </div>
        <br>
        <mat-form-field appearance="outline" style="width: 100%;" [floatLabel]="'Comments'">
            <mat-label>Comments</mat-label>
            <textarea matInput formControlName="comment"></textarea>
        </mat-form-field>
        <br>
        <button mat-button class="bigger-bordered" (click)="onSubmit()">
            Submit
        </button>
        <button mat-button class="bigger-bordered" style="margin-left: 10%;" (click)="viewRes=!viewRes">
            <div *ngIf="viewRes; else elseBlock">Close response</div>
            <ng-template #elseBlock>View response</ng-template>
        </button>
    </form>
</div>

<div class="vals" *ngIf="viewRes">
    <b>Name</b> : {{feedbackForm.value.name}}<br>
    <b>Email</b> : {{feedbackForm.value.email}}<br>
    <b>Feedback</b> : {{feedbackForm.value.feedback}}<br>
    <b>Comments</b> : {{feedbackForm.value.comment}}
    <div>