<div style="position: absolute;top: 20%; right: 75%; bottom: 60%; left: 15%;">
    <button mat-button [disabled]="is_add && is_Project" (click)="is_add=true; is_Project=true;" style="width: 100%;">
        <mat-icon>create</mat-icon>
        <h3 style="color: chartreuse;">New Project</h3> 
    </button>
    <button mat-button [disabled]="is_add && !is_Project" (click)="is_add=true; is_Project=false;" style="width: 100%;">
        <mat-icon>plus_one</mat-icon>
        <h3 style="color: cyan;">New Scratch File</h3> 
    </button>
</div>
<div style="position: absolute; overflow-y: auto;top: 15%; right: 30%; bottom: 5%; left: 30%; border: 2px solid red; border-radius: 2%; padding: 0.5%;">
    <div *ngIf="is_add">
        <mat-card style="margin-bottom: 5px; margin-right: 5px;">
            <input [(ngModel)]="new_file" style="line-height: 125%" placeholder="Enter name"/>
            <button mat-button (click)="is_add=false; new_file=''" style="float: right; line-height: 125%">
                Cancel
            </button>
            <button mat-button (click)="fin_add()" [disabled]="new_file.trim()=='' || (!is_Project && new_file.indexOf('.')==-1)" style="float: right; line-height: 125%">
                Confirm
            </button>
        </mat-card>
    </div>
    <div *ngFor="let proj of projects_list.slice().reverse()">
        <mat-card style="margin-bottom: 5px; margin-right: 5px; display: flex; padding: 0%;">
                <div style="margin-top: 2%; margin-left: 3%;">
                    <h3>{{proj}}</h3>
                </div>
                <div style="margin-left: auto; margin-top: 1.5%;">
                    <button mat-button (click)="gotoProj(proj)" style="color: chartreuse;">
                        Open Project <mat-icon>open_in_new</mat-icon>
                    </button>
                    <button mat-button (click)="delFullProj(proj)" style="color: red;">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
        </mat-card>
    </div>
    <div *ngFor="let file of scratch_files_list.slice().reverse()">
        <mat-card style="margin-bottom: 5px; margin-right: 5px; display: flex; padding: 0%;">
            <div style="margin-top: 2%; margin-left: 3%;">
                <h3>{{file}}</h3>
            </div>
            <div style="margin-left: auto; margin-top: 1.5%;">
                <button mat-button (click)="gotoScratch(file)" style="color: cyan;">
                    Open File <mat-icon>open_in_new</mat-icon>
                </button>
                <button mat-button (click)="delScratch(file)" style="color: red;">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-card>
    </div>
</div>